body {
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;

    -webkit-transition: background 300ms ease-in 200ms;
    -moz-transition: background 300ms ease-in 200ms;
    -o-transition: background 300ms ease-in 200ms;
    transition: background 300ms ease-in 200ms;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

h1, h2 {
    text-align: center;
}
  